<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba Front</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="app">
    <div class="container">
      <header class="pt-3 pb-3">
        <nav>
          <div class="form-group input-search">
            <input class="search" type="text" v-model="search">
            <button type="button" class="close" v-on:click="resetInputSearch()">
              <img src="./assets/images/search-close.svg">
            </button>
          </div>
          <div class="filters">
            <div class="form-group select-filter mr-4">
              <img src="./assets/images/filter.svg" class="mr-2">
              <v-select
                placeholder="All"
                v-model="selectCategory"
                :options="categoryFilter"
                @change="filterCategoryVoices($event)">
              </v-select>
            </div>
            <div class="form-group select-filter mr-4">
              <img src="./assets/images/order.svg" class="mr-2">
              <v-select
                placeholder="Seleccionar"
                v-model="selectSort"
                label="title"
                :options="sortFilter">
              </v-select>
            </div>
            <div class="select-random">
              <img src="./assets/images/button-random.svg" v-on:click="selectRandomVoice()">
            </div>
          </div>
        </nav>
      </header>
      <section>
        <div class="row">
          <div class="col-12">
            <h2><span>Favourite voices</span></h2>
          </div>
        </div>
        <div class="row">
          <div v-for="favourite in favourites" class="col-lg-2 col-md-3 col-6 d-flex align-items-center justify-content-center text-center mb-4">
            <div class="box-circle off">
              <div class="circle">
                <img :src="'./assets/images/' + favourite.icon">
              </div>
              <p v-text="favourite.name" class="name"></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-12">
            <h2><span>Pro voices</span></h2>
          </div>
        </div>
        <div class="row">
          <div v-for="voice in voices" class="col-lg-2 col-md-3 col-sm-4 col-6 d-flex align-items-center justify-content-center text-center mb-4">
            <div class="box-circle" :class="voice.select ? 'on' : 'off'">
              <div class="circle">
                <div class="favourite" :class="voice.select ? 'on' : 'off'" v-on:click="addFavouriteList(voice)">
                </div>
                <img :src="'./assets/images/' + voice.icon">
              </div>
              <p v-text="voice.name" class="name"></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-select@latest"></script>
  <script type="module" src="./assets/js/app.js"></script>
</body>
</html>