/* COLORS */
$colorPrimary: #1d1d1d;
$colorSecundary: white;
$colorCircle: #DDDDDD;
$colorTitle: #999999;
$colorLine: #333333;
$colorBackgroundInput: #111111;

body {
  background-color: $colorPrimary;
  color: $colorSecundary;
}
h2 {
  color: $colorTitle;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 30px;
  position: relative;
  &::before {
    content: '';
    background-color: $colorLine;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: -1;
  }
  span {
    background: $colorPrimary; 
    padding-right: 20px;
  }
}
header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 575px) {
      flex-direction: column;
      .input-search {
        margin-bottom: 15px !important;
        width: 100% !important;
      }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      .input-search {
        width: 210px !important;
      }
      .select-filter {
        margin-right: 0.5rem !important;
      }
    }
    @media (min-width: 1024px) {
      .select-filter {
        margin-right: 1.5rem !important;
      }
    }
    .input-search {
      position: relative;
      margin-bottom: 0;
      width: 230px;
      @media (max-width: 575px) {
        width: 100% !important;
      }
      .search {
        background-color: $colorBackgroundInput;
        background-image: url('../images/search.svg');
        background-position: center left 3px;
        background-repeat: no-repeat;
        border: none;
        border-radius: 25rem;
        color: $colorSecundary;
        padding-left: 35px;
        height: 32px;
        width: 100%;
        &:focus{
          outline: none;
        }
      }
      .close {
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        top: 6px;
        right: 8px;
        height: 20px;
        width: 20px;
        position: absolute;
      }
    }
    .filters {
      display: flex;
      @media (max-width: 575px) {
        flex-direction: column;
        width: 100%;
        .select-filter {
          margin-right: 0 !important;
          margin-bottom: 15px !important;
          width: 100%;
          .v-select {
            width: 100% !important;
          }
        }
      }
      .select-filter {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        .v-select {
          background-color: $colorBackgroundInput;
          border-radius: 5px;
          width: 170px;
          .vs__dropdown-toggle {
            border-color: $colorBackgroundInput;
            cursor: pointer;
            .vs__selected {
              text-transform: capitalize;
            }
            .vs__search {
              color: $colorSecundary;
              cursor: pointer;
            }
            .vs__clear {
              margin-top: -5px;
            }
          }
          .vs__selected {
            color: $colorSecundary;
          }
          .vs__dropdown-menu {
            background-color: $colorBackgroundInput;
            border-color: $colorBackgroundInput;
            padding: 0;
            min-width: 170px !important;
            .vs__dropdown-option {
              border-top: 1px solid $colorLine;
              padding: 5px 10px;
              text-transform: capitalize;
            }
          }
          .vs__dropdown-option--highlight {
            background-color: transparent;
          }
        }
      }
      .select-random {
        @media (max-width: 575px) {
          text-align: center;
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
}
.box-circle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &.off {
    .circle {
      background-color: $colorCircle;
    }
  }
  &.on {
    .circle {
      background: linear-gradient(90deg, #00e1ff, #00c4f9);
    }
    .name {
      color: #00c4f9;
    }
  }
  .circle {
    border-radius: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    position: relative;
    &:hover {
      .favourite {
        display: block;
      }
    }
    .favourite {
      background-color: $colorCircle;
      border-radius: 25rem;
      display: none;
      height: 30px;
      width: 30px;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 99;
      &.off {
        background-image: url('../images/voice-favourite-off.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.on {
        background-image: url('../images/voice-favourite.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .name {
    margin-bottom: 0;
  }
}