/* COLORS */
body {
  background-color: #1d1d1d;
  color: white;
}

h2 {
  color: #999999;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 30px;
  position: relative;
}

h2::before {
  content: '';
  background-color: #333333;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: -1;
}

h2 span {
  background: #1d1d1d;
  padding-right: 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 575px) {
  header nav {
    flex-direction: column;
  }
  header nav .input-search {
    margin-bottom: 15px !important;
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header nav .input-search {
    width: 210px !important;
  }
  header nav .select-filter {
    margin-right: 0.5rem !important;
  }
}

@media (min-width: 1024px) {
  header nav .select-filter {
    margin-right: 1.5rem !important;
  }
}

header nav .input-search {
  position: relative;
  margin-bottom: 0;
  width: 230px;
}

@media (max-width: 575px) {
  header nav .input-search {
    width: 100% !important;
  }
}

header nav .input-search .search {
  background-color: #111111;
  background-image: url("../images/search.svg");
  background-position: center left 3px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 25rem;
  color: white;
  padding-left: 35px;
  height: 32px;
  width: 100%;
}

header nav .input-search .search:focus {
  outline: none;
}

header nav .input-search .close {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  top: 6px;
  right: 8px;
  height: 20px;
  width: 20px;
  position: absolute;
}

header nav .filters {
  display: flex;
}

@media (max-width: 575px) {
  header nav .filters {
    flex-direction: column;
    width: 100%;
  }
  header nav .filters .select-filter {
    margin-right: 0 !important;
    margin-bottom: 15px !important;
    width: 100%;
  }
  header nav .filters .select-filter .v-select {
    width: 100% !important;
  }
}

header nav .filters .select-filter {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

header nav .filters .select-filter .v-select {
  background-color: #111111;
  border-radius: 5px;
  width: 170px;
}

header nav .filters .select-filter .v-select .vs__dropdown-toggle {
  border-color: #111111;
  cursor: pointer;
}

header nav .filters .select-filter .v-select .vs__dropdown-toggle .vs__selected {
  text-transform: capitalize;
}

header nav .filters .select-filter .v-select .vs__dropdown-toggle .vs__search {
  color: white;
  cursor: pointer;
}

header nav .filters .select-filter .v-select .vs__dropdown-toggle .vs__clear {
  margin-top: -5px;
}

header nav .filters .select-filter .v-select .vs__selected {
  color: white;
}

header nav .filters .select-filter .v-select .vs__dropdown-menu {
  background-color: #111111;
  border-color: #111111;
  padding: 0;
  min-width: 170px !important;
}

header nav .filters .select-filter .v-select .vs__dropdown-menu .vs__dropdown-option {
  border-top: 1px solid #333333;
  padding: 5px 10px;
  text-transform: capitalize;
}

header nav .filters .select-filter .v-select .vs__dropdown-option--highlight {
  background-color: transparent;
}

@media (max-width: 575px) {
  header nav .filters .select-random {
    text-align: center;
  }
}

header nav .filters .select-random img {
  cursor: pointer;
}

.box-circle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.box-circle.off .circle {
  background-color: #DDDDDD;
}

.box-circle.on .circle {
  background: linear-gradient(90deg, #00e1ff, #00c4f9);
}

.box-circle.on .name {
  color: #00c4f9;
}

.box-circle .circle {
  border-radius: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  position: relative;
}

.box-circle .circle:hover .favourite {
  display: block;
}

.box-circle .circle .favourite {
  background-color: #DDDDDD;
  border-radius: 25rem;
  display: none;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 99;
}

.box-circle .circle .favourite.off {
  background-image: url("../images/voice-favourite-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.box-circle .circle .favourite.on {
  background-image: url("../images/voice-favourite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.box-circle .name {
  margin-bottom: 0;
}
